PORT=
NODE_ENV=
MONGO_URI=
JWT_SECRET=

TWILIO_SID=
TWILIO_AUTH=
TWILIO_SERVICE=
TWILIO_PHONE=

IMAGEKIT_PUBLICKEY=
IMAGEKIT_PRIVATEKEY=
IMAGEKIT_URLENDPOINT=

SEND_OTP=
VERIFY_OTP=
ADMIN_LOGIN=
CREATE_PRODUCT_API=
UPDATE_PRODUCT_API=

IMAGE_KEY=